# Сміття компіляції та збірки (шукає папки всюди)
Debug/
Release/
*.o
*.su
*.d
*.elf
*.bin
*.hex
*.map
.metadata/

# Автоматично згенеровані драйвери STM32 (залізно блокує папки на будь-якій глибині)
Drivers/
CMSIS/
STM32L0xx_HAL_Driver/
Middlewares/

# Локальні налаштування IDE
.settings/
*.launch